@import "tailwindcss";

@theme {
  --color-romantic-pink: #fdf2f8;
  --color-romantic-rose: #be185d;
  --color-cream: #fffdd0;
  --font-display: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-romantic-pink);
  color: #374151; /* gray-700 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}
